button {
  background-color:#ED518A;
  height:37px;
  border: 3px solid #fff;
  color: #fff;
  display: inline-block;
}

.geosync-input {
  width: 100%;
  margin: 8px auto;
  display: flex;
  justify-content: center;
}

input {
  width: 200px;
  margin: 0 auto;
}

.form-container {
    margin: 90px auto;
    width: 400px;
    font-family: "Roboto Condensed";
}

body {
    background: url(images/lined-paper.png);
}

#geosync-results {
  background: black;
  font-family: monospace;
  width: 60em;
  margin: 0 auto;
  display: none;
}
.shell {
  margin: 16px;
  word-break: break-all;
  white-space:pre-wrap;
  display:inline;
  color: white;
}
